
@{
    ViewBag.Title = "CloseTab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CloseTab</h2>

<script type="text/javascript">// Close the current tab after the page is loaded
        window.onload = function () {
            window.close();
        };</script>

<h2>Payment successful. This tab will close shortly.</h2>
