
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test</h2>

<a href="@Url.Action("LabTechChatRooms", "Chat", new {labTechId = 1})">aaaaaaaaaaaaaaa</a>

<a href="@Url.Action("PatientChatRooms", "Chat", new {patientId = 1})">sssssssssssssssssssss</a>

